MONGOOSE_URL=your_mongodb_connection_string_here

JWT_SECRET_KEY=your_jwt_secret_here

CLOUDINARY_CLOUD_NAME=your_cloud_name_here

CLOUDINARY_API_KEY=your_api_key_here

CLOUDINARY_API_SECRET=your_api_secret_here

STRIPE_SECRET_KEY=your_stripe_secret_key

STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key

STRIPE_WEBHOOK_SECRET=your_webhook_secret

STRIPE_SUCCESS_URL=http://localhost:3000/payment/success

STRIPE_CANCEL_URL=http://localhost:3000/payment/cancel